$color1:#0b0d17;
$color2:#d0d6f9;
$color3:#FFFFFF;
$color4:hsla(0, 100%, 100%, 0.5);
$header-height:80px;
$sub-nav-height:30px;
$font1:'Bellefair';
$font2: 'Barlow Condensed';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url('../assets/destination/background-destination-desktop.jpg');
    background-size: cover;
}
.header{
    position:relative;
    height:$header-height;
    top:3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        display: block;
        position: relative;
        left: 50px;
    }
    &__line{
        border: 2px solid hsla(0, 100%, 100%, 0.1);
        position: relative;
        left: 50px;;
        width:calc(40% - 48px);
        z-index: +2;
    }
    &__hamburguer{
        position: absolute;
        right: 30px;
        top:5px;
        display: none;
    }
    &__nav{
        width: 60%;
        height: inherit;
    }
}
.nav-menu, .nav-menu1{
    font-family: $font2;
    text-transform: uppercase;
    font-size: 1.25rem;
    height:inherit;
    background-color:hsla(0, 100%, 100%, 0.05);
    backdrop-filter: blur(2rem);
    &__ul{
        list-style: none;
        height: inherit;
        display: flex;
        justify-content: space-evenly;
    }
    &__item{
        display: flex;
        flex-direction:column;
        justify-content: center;
        border-bottom: 3px solid transparent;
        background-color: transparent;
        height:inherit;
        &--active{
            border-bottom: 3px solid $color3
        }
        &:hover{
            border-bottom: 3px solid $color4;
            transition: all 100ms ease-in-out;
        }
    }
    &__span{
        color:$color3;
        font-weight: 500;
        margin-right:1rem;
    }
    &__link{
        text-decoration: none;
        color: $color2;
        &:active{
            color:$color4;
        }
        &:hover{
            color: $color3;
        }
    }
    &--sub-nav{
        background-color: transparent;
        backdrop-filter: none;
    }
}
.nav-menu1{
    &__ul{
        justify-content: space-between;
    }
}
.main{
    font-family: $font2;
    color: $color2;
    height: calc(100% - #{$header-height});
    &__ctn{
        display: flex;
        justify-content: space-evenly;
    }
    &__title{
        font-weight: 400;
        font-size: 1.75rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem; 
        padding:4rem 3rem ;  
    }
    &__span{
        color: $color3;
    }
}


.container-left{
    width: 50%;
    &__img{
        width: 100%;
        display: block;
        max-width: 445px;
        margin: 0 auto;
    }
}

.container-right{
    width: 50%;
    padding-right: 50px;
    letter-spacing: 0.1rem;
    &__title{
        color: $color3;
        font-family: $font1;
        font-size: 4rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__desc{
        font-size:1.2rem;
        line-height: 2rem;
        font-weight: 300;
        font-family: $font2;
    }
    &__nav{
        height: $sub-nav-height;
        width: 75%;
    }
    &__line{
        border-color: $color4;
    }
    &__cards{
        display: flex;
        justify-content: space-between;
        width: 75%;
    }
    &__dinamic-cnt{
        display: flex;
        flex-direction: column; 
        justify-content: space-around;
        height: calc(100% - #{$sub-nav-height});
    }
}


.card{
    text-transform: uppercase;
    &__title{
        font-size:1rem;
        font-weight: 300;
        font-family: $font2;
    }
    &__subtit{
        font-size:1.5rem;
        font-weight: 400;
    }
}


@media only screen and(max-width:913px){//tablets
    html{
        font-size: 14px;
    }
    body{
        background-image: url('../assets/destination/background-destination-tablet.jpg');
    }
    .nav-menu{
        &__span{
            display: none;
        }
    }
    .main__ctn{
        flex-direction: column;
        width:60%;
        margin: 0 auto;
        height: 70vh;
    }
    .container-left{
        margin: 0 auto;
    }
    .container-right{
        width: 100%;
        padding-right: 0;
        letter-spacing: 0.1rem;
        &__nav{
            width: 100%;
            margin: 3rem 0;
        }
        &__title{
            text-align: center;
        }
        &__desc{
            text-align: center;
        }
        &__cards{
            margin: 0 auto;
        }
    }
}

@media only screen and(max-width:520px){//mobile
    html{
        font-size: 10px;
    }
    .header{
        display: block;
    }
    .header__logo{
        left: 20px;
        top: -10px;
    }
    .header__nav{
        width: 100%;
        height:auto;
    }

    body{
        background-image: url('../assets/destination/background-destination-mobile.jpg');
    }
    .nav-menu{
        display: none;
        &__ul{
            flex-direction: column;
        }
        &__item{
            padding: 2rem 0;
            display: block;
            text-align: center;
            font-size: 3rem;
            &--active{
                border-bottom: 3px solid transparent;
            }
        }
        &__span{
            display: none;
        }
        &--display{
            display:block;
        }
        &--sub-nav{
            display: block;
        }
    }
    .header__line{
        display: none;
    }
    .header__hamburguer{
        display:block;
    }
}
