* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  background-image: url("../assets/technology/background-technology-desktop.jpg");
}

.header {
  position: relative;
  height: 80px;
  top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: block;
  position: relative;
  left: 50px;
}

.header__line {
  border: 2px solid rgba(255, 255, 255, 0.1);
  position: relative;
  left: 50px;
  width: calc(40% - 48px);
  z-index: +2;
}

.header__hamburguer {
  position: absolute;
  right: 30px;
  top: 5px;
  display: none;
}

.header__nav {
  width: 60%;
  height: inherit;
}

.nav-menu {
  font-family: "Barlow Condensed";
  text-transform: uppercase;
  font-size: 1.25rem;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
}

.nav-menu__ul {
  list-style: none;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  height: inherit;
}

.nav-menu__item--active {
  border-bottom: 3px solid #FFFFFF;
}

.nav-menu__item:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.nav-menu__span {
  color: #FFFFFF;
  font-weight: 500;
  margin-right: 1rem;
}

.nav-menu__link {
  text-decoration: none;
  color: #d0d6f9;
}

.nav-menu__link:active {
  color: rgba(255, 255, 255, 0.5);
}

.nav-menu__link:hover {
  color: #FFFFFF;
}

.nav-menu--sub-nav {
  background-color: transparent;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.main {
  font-family: "Barlow Condensed";
  color: #d0d6f9;
  height: calc(100% - 80px);
}

.main__title {
  font-weight: 400;
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 4rem 3rem;
}

.main__ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3rem;
}

.main__ctn-selector {
  height: 70%;
}

.main__ctn-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 5rem;
}

.main__ctn-card-subname {
  text-transform: uppercase;
  width: 70%;
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 400;
  font-family: "Barlow Condensed";
}

.main__ctn-card-name {
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 4rem;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 1rem 0;
}

.main__ctn-card-desc {
  width: 80%;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
  font-family: "Barlow Condensed";
}

.main__img-mobile {
  display: none;
}

.main__ctn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__img {
  width: 500px;
}

.barr1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.barr1__ctn {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.barr1__circle {
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 2rem;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 1rem;
}

.barr1__circle--active {
  background-color: #FFFFFF;
  color: #0b0d17;
}

.barr1__circle:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1063px) {
  html {
    font-size: 14px;
  }
  body {
    background-image: url("../assets/technology/background-technology-tablet.jpg");
    background-size: cover;
  }
  .nav-menu {
    display: block;
  }
  .nav-menu__span {
    display: none;
  }
  .main__ctn {
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__ctn-img {
    display: none;
  }
  .main__ctn-selector {
    height: 30%;
  }
  .main__img-mobile {
    display: block;
    width: 100%;
  }
  .main__ctn-card {
    margin: 0 auto;
    width: 80%;
  }
  .main__ctn-card-name {
    text-align: center;
  }
  .main__ctn-card-subname {
    text-align: center;
    width: 100%;
  }
  .main__ctn-card-desc {
    width: 100%;
    text-align: center;
  }
  .main__img {
    display: none;
  }
  .barr1__ctn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 3rem 0;
  }
}

@media only screen and (max-width: 520px) {
  html {
    font-size: 10px;
  }
  .header {
    display: block;
  }
  .header__logo {
    left: 20px;
    top: -10px;
  }
  .header__nav {
    width: 100%;
    height: auto;
  }
  body {
    background-image: url("../assets/technology/background-technology-mobile.jpg");
  }
  .nav-menu {
    display: none;
  }
  .nav-menu__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-menu__item {
    padding: 2rem 0;
    display: block;
    text-align: center;
    font-size: 3rem;
  }
  .nav-menu__item--active {
    border-bottom: 3px solid transparent;
  }
  .nav-menu__span {
    display: none;
  }
  .nav-menu--display {
    display: block;
  }
  .nav-menu--sub-nav {
    display: block;
  }
  .header__line {
    display: none;
  }
  .header__hamburguer {
    display: block;
  }
}
/*# sourceMappingURL=tecno.css.map */